<div class="card_profile">
    <div class="profile_image">
        <img [src]="user.image">
    </div>
        <h2>{{ user.name }}</h2>

        <p>{{ user.role }}</p>

    <div class="social">
        <a href="/">
            <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="/">
            <i class="fab fa-youtube-play" aria-hidden="true"></i>
        </a>
        <a href="/">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="/">
            <i class="fa-brands fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="action">
        <button>
            Contact me
        </button>
    </div>
</div>
